/* Write your CSS here */
.chart-bg-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
  margin-bottom: 16px;
  background-color: #1c1c2b;
}
.chart-heading {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 550;
  color: #cbd5e1;
  line-height: 1.5;
}
